{% extends "layout/basic.html" %}

{% block title %}О сайте{% endblock %}

{% block content %}
<h2>О сайте</h2>
<p>Многие люди ведут учет своих крипто активов в приложении Excell. Но что если вам требуется больше
    мобильности? И конечно же вам не нужно придумывать формулы и записывать их когда мы уже все сделали за вас.
</p>
<p>Сервис tokenote.ru заменяет Excell. Это удобнее, ведь теперь что бы посчитать ваш профит вам достаточно
    открыть приложение вместо того что бы искать свой компьютер и редактировать данные в таблицах. </p>
{% endblock %}
